<div style="background-color:green">{% content_for 'blocks' %}</div>

{% schema %}
{
  "name": "block1",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "square",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text_content": "AAA"
          }
        }
      ]
    }
  ]
}
{% endschema %}
